body.busy * {
    cursor: progress;
}

* {
    box-sizing: border-box;
}

/* Header elements */

h2 {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#logo {
    float: right;
    height: 32px;
}

/* Free space display */

#freespaceGauge {
    display: flex;
    align-items: center;
    white-space: nowrap;
    visibility: hidden;
}

meter:-moz-meter-optimum::-moz-meter-bar {
    background: #30e60b;
}

meter:-moz-meter-sub-optimum::-moz-meter-bar {
    background: #ffe900;
}

meter:-moz-meter-sub-sub-optimum::-moz-meter-bar {
    background: #ff0039;
}

meter {
    width: 100%;
    margin-left: 8px;
    height: 16px;
    background: #d7d7db;
}

/* Message bar */

#msg_container {
    /* functional */
    /* visibility: hidden; */
    z-index: 1;
    position: absolute;
    top: 9%;
    /* Fit into frame */
    width: 97%;
}

#msg_container .msg_bar {
    margin-bottom: 4px;
}

/* Account form elements */

input {
    width: 100%;
}

input[type=number] {
    max-width: 4em;
    text-align: right;
    padding-right: 0;
}

.helpbutton {
    float: right;
    margin-right: 2px;
}

.helpbutton p {
    visibility: hidden;
    width: 50%;
    position: absolute;
    z-index: 1;
    right: 0.2em;
    top: 0.5em;
}

.helpbutton:hover p {
    visibility: visible;
}

fieldset {
    position: relative;
    border: none;
    padding-left: 0;
    padding-right: 0;
}

#resetButton {
    float: right;
}