/* Fix problems in the official css */

body {
    font-family: -apple-system, BlinkMacSystemFont, 'helvetica neue', ubuntu, roboto, noto, 'segoe ui', helvetica, arial, sans-serif;
}

.input__field, .input__field::placeholder {
    font-size: inherit;
}

/* show the turning wheel cursor while the dialog is busy */

.busy * {
    cursor: progress;
}

/* Header elements */

#header::after {
    clear: both;
    content: "";
    display: table;
}

h2 {
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#cloud_info {
    float: right;
    margin-left: 8px;
    text-align: right;
}

#logo {
    height: 36px;
}

/* Free space display */

#freespaceGauge {
    display: flex;
    margin-top: 4px;
    visibility: hidden;
    white-space: nowrap;
}

meter {
    margin-left: .5em;
    width: 100%;
}

meter:-moz-meter-optimum::-moz-meter-bar {
    background: var(--green-50);
}

meter:-moz-meter-sub-optimum::-moz-meter-bar {
    background: var(--yellow-50);
}

meter:-moz-meter-sub-sub-optimum::-moz-meter-bar {
    background: var(--red-50);
}

meter {
    background: var(--grey-30);
}

/* Account form elements */

input[type=number] {
    max-width: 4em;
    text-align: right;
}

#resetButton {
    float: right;
}

/* Help button */

.input__label {
    /* photon defines it as block which makes it overlap the help button and take its hover event */
    display: inline;
}

.helpbutton {
    float: right;
}

.helpbutton p {
    position: absolute;
    right: 0;
    visibility: hidden;
    width: 50%;
    z-index: 1;
}

.helpbutton:hover p {
    visibility: visible;
}