/* Message bar */

#msg_container {
    /* functional */
    /* visibility: hidden; */
    z-index: 1;
    position: absolute;
    top: 9%;
    /* Fit into frame */
    width: 97%;
}

.msg_bar {
    min-height: 32px;
    border-radius: 4px;
    padding: 4px;
    margin-bottom: 4px;
    font-size: var(--body-10);
    font-weight: 400;
}

.msg_bar .popup_message {
    /* Height of Icon: 16px + padding 4px */
    line-height: 24px;
}

.msg_bar .msg_bar_icon {
    float: left;
    padding: 4px;
    box-sizing: content-box;
    width: 16px;
    height: 16px;
    mask-repeat: no-repeat;
    mask-size: 16px;
    mask-position: center;
}

.msg_bar .msg_bar_closebtn {
    float: right;
    mask-image: url(images/Close.svg);
    padding: 4px;
    box-sizing: content-box;
    width: 16px;
    height: 16px;
    mask-repeat: no-repeat;
    mask-size: 16px;
    mask-position: center;
}

.error_bar {
    background-color: var(--red-60);
    color: white;
}

.error_bar>.msg_bar_icon {
    mask-image: url(images/Warning.svg);
    background: white;
}

.error_bar>.msg_bar_closebtn {
    background: white;
}

.warning_bar {
    background-color: var(--yellow-50);
    color: var(--yellow-90);
}

.warning_bar>.msg_bar_icon {
    mask-image: url(images/Warning.svg);
    background: var(--yellow-90);
}

.warning_bar>.msg_bar_closebtn {
    background: var(--yellow-90);
}

.success_bar {
    background-color: var(--green-50);
    color: var(--green-90);
}

.success_bar>.msg_bar_icon {
    mask-image: url(images/Check.svg);
    background: var(--green-90);
}

.success_bar>.msg_bar_closebtn {
    background: var(--green-90);
}