.cell {
    align-self: center;
}

.error {
    color: var(--red-60);
}

.hidden {
    display: none;
}

#status_lines {
    display: grid;
    grid-template-columns: repeat(3, max-content);
    column-gap: 4px;
    row-gap: 4px;
}

progress {
    width: 8em;
}